{% extends "base.html" %}
{% load static %}

{% block content %}
<a class=btn href="{% url 'nota_credito' %}">Volver a Notas de Crédito</a> 
<h1>Detalles de la Nota de Crédito {{nota_credito.numero_nota_credito}}</h1>
<form method="POST">
    {% csrf_token %}
    <label for="numero_nota_credito">Número de Nota de Crédito:</label>
    <input type="text" id="numero_nota_credito" value="{{ nota_credito.numero_nota_credito }}" readonly>
    {{ form.as_p }}

    <h3>Conceptos de Crédito</h3>
    <div id="formset">
        {{ formset.management_form }}
        {% for form in formset %}
            <div class="concepto-form">
                {{ form.as_p }}
            </div>
        {% endfor %}
    </div>
    <button type="button" id="add-concepto">Añadir otro concepto</button>
    <button type="submit">Guardar Cambios</button>
</form>

<script>
    document.getElementById('add-concepto').onclick = function() {
        var formsetDiv = document.getElementById('formset');
        var totalForms = document.querySelector('[name$="-TOTAL_FORMS"]');
        var currentFormCount = parseInt(totalForms.value);
        var emptyFormHtml = `{{ formset.empty_form.as_p|escapejs }}`;
        var newFormHtml = emptyFormHtml.replace(/__prefix__/g, currentFormCount);
        var div = document.createElement('div');
        div.classList.add('concepto-form');
        div.innerHTML = newFormHtml;
        formsetDiv.appendChild(div);
        totalForms.value = currentFormCount + 1;
    };
</script>
{% endblock content %}

