{% extends "base.html" %}
{% block content %}
<h1>Órdenes de Entrega de {{ usuario }}</h1>
<a class=btn href="{% url 'crear_orden_entrega' %}">Crear nueva orden de entrega</a>
{% if ordenes %}
    <table>
        <thead>
            <tr>
                <th>Número</th>
                <th>Fecha</th>
                <th>Dirección</th>
                <th>Cliente</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for orden in ordenes %}
            <tr>
                <td><a href="{% url 'editar_orden_entrega' orden.id %}">{{ orden.numero_orden_entrega }}</a></td>
                <td>{{ orden.fecha_emision }}</td>
                <td>{{ orden.direccion_entrega }}</td>
                <td>{{ orden.nombre_cliente }}</td>
                <td>{{ orden.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No hay órdenes de entrega registradas.</p>
{% endif %}
{% endblock %}