{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Facturas</title>
    <link rel="stylesheet" href="{% static 'styile.css' %}">
</head>
<body>
    <div class="header">
        Sistema de Imprenta Digital
    </div>

    <div class="nav-bar">
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'factura-dashboard' %}">Facturas</a>
        <a href="#">Notas de C/D</a>
        <a href="#">Ordenes de entrega</a>
        <a href="#">Usuarios</a>
        <a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a>
    </div>
    <h1>Gestionar facturas</h1>
    <div class="options-grid">
        <div class="option-card">
            <h3>Crear Factura</h3>
            <p>Crea nuevas facturas para enviarlas a tus clientes</p>
            <a href="{% url 'crear-factura' %}" class="btn">Crear Factura</a>
        </div>
        <div class="option-card">
            <h3>Editar Factura</h3>
            <p>Corrigue errores antes de enviarla a tus clientes</p>
            <a href="#" class="btn">Editar Factura</a>
        </div>
    </div>
    <h2>Mis facturas</h2>
    <!-- 
    <div class="shhow-grid">
        {% for factura in facturas %}
            <div class="factura-card">
                <h3>Factura #{{ factura.numero_factura }}</h3>
                <p><strong>Lugar:</strong> {{ factura.lugar_emision }}</p>
                <p><strong>Fecha:</strong> {{ factura.fecha_emision }}</p>
                <p><strong>Cliente:</strong> {{ factura.nombre_cliente }}</p>
                <p><strong>Teléfono:</strong> {{ factura.telefono_cliente }}</p>
                <p><strong>Cédula/RIF:</strong> {{ factura.cedula_cliente }}</p>
                <p><strong>Subtotal:</strong> {{ factura.subtotal }}</p>
                <p><strong>IVA:</strong> {{ factura.iva }}</p>
                <p><strong>Total:</strong> {{ factura.total }}</p>
                <h4>Productos:</h4>
                <ul>
                    {% for producto in factura.productos %}
                        <li>
                            {{ producto.nombre }} - Cantidad: {{ producto.cantidad }} - Precio unitario: {{ producto.precio_unitario }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% empty %}
            <p>No hay facturas registradas.</p>
        {% endfor %}
    </div>
    -->
    
</body>
</html>