{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Factura creada</title>
    <link rel="stylesheet" href="{% static 'styile.css' %}">
</head>
<body>
    <div class="header">
        Sistema de Imprenta Digital
    </div>

    <div class="nav-bar">
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="#">Facturas</a>
        <a href="#">Notas de C/D</a>
        <a href="#">Ordenes de entrega</a>
        <a href="#">Usuarios</a>
        <a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a>
    </div>

    <h1 style="text-align: center; margin-top: 40px;">¡Usuario editado exitosamente!</h1>

    <div class="options-grid">
            <div class="option-card">
                <h3>Volver al tablero de usuario </h3>
                <a href="{% url 'usuario-dashboard' %}" class="btn">Volver a usuarios</a>
            </div>
            <div class="option-card">
                <h3>Volver al tablero principal</h3>
                <a href="{% url 'dashboard' %}" class="btn">Volver a home</a>
            </div>
            <div class="option-card">
                <h3>Editar otro usuario</h3>
                <a href="{% url 'seleccionar-usuario' %}" class="btn">Volver a editar usuario</a>
            </div>
        </div>
</body>
</html>