{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Imprenta Digital</title>
    <link rel="stylesheet" href="{% static 'styile.css' %}">
</head>
<body>
    <div class="header">
        Sistema de Imprenta Digital
    </div>

    <div class="nav-bar">
        <a href="{% url 'dashboard' %}">Home</a>
        <a href="{% url 'factura-dashboard' %}">Facturas</a>
        <a href="{% url 'notas-dashboard' %}">Notas de C/D</a>
        <a href="{% url 'orden_entrega' %}">Ordenes de entrega</a>
        <a href="{% url 'usuario-dashboard' %}">Usuarios</a>
        <a href="{% url 'logout' %}" class="logout">Cerrar Sesión</a>
    </div>


    <div class="main-content">
        <p class="welcome-message">¡Hola, {{ username }}!</p>

        <div class="options-grid">
            {% if is_admin %}
            <div class="option-card">
                <h3>Crear Usuario</h3>
                <p>Crea nuevo usuarios</p>
                <a href="{% url 'crear-usuario' %}" class="btn">Crear Usuario</a>
            </div>
            <div class="option-card">
                <h3>Editar Usuario</h3>
                <p>Editar datos de los usuarios</p>
                <a href="{% url 'seleccionar-usuario' %}" class="btn">Editar Usuario</a>
            </div>
            {% endif %}
        </div>
    </div>
</body>
</html>